*{
    margin-top: 0px;
    padding: 0px;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4em;
}
h4{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.4em;
}
h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
 
}
body { 
    background-color:#f1f1f1; 
    color: black; 
    margin: 50px;
    font-family: 'Times New Roman', Times, serif; 
    font-size: 1em;
    line-height: 1.6;
}
p{
    font-size: 1.3em;
    line-height: 1em;
    text-align: justify;
    line-height: 1.4em;   
}
.corpo{
  
    margin: auto;
}
.conteudo{
    display: table;
}
figure.foto {
    display: table-cell;
    float: right;
    margin-top: 20%;
}
figure.foto img{
    width: 50%;
    height: 50%;
    float: right;
}
.testo{
    display: table-cell;
    float: left;
    width: 420px;
    height: -90%;
    margin-top: -250px;
    margin-left: 20px;
}
.corpus{
    width: 1300px;
     margin: auto;
 }
 .conteudo_dois{
     display: table;
 }
 figure.figura {
     display: table-cell;
     float: left;
 }

 .testo_dois{
     display: table-cell;
     float: left;
     width: 490px;
     margin-top: 160px;
     margin-left: 80px;
 }
.corpo_criadores{
    width: 13000px;
    margin: auto;
}
.conteudo_criadores{
    display: table;
}
figure.lucia {
    display: table-cell;
    float: left;
    margin-top: auto;
}
figure.lucia img{
    float: left;
    width: 20%;
    height: 40%;
}
.testo_criadores{
    display: table-cell;
    float: right;
    width: 80%;
    margin-top: -200px;
    margin-left: 140px;
}
